.mainarea_container{
    display: inline-block;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    
}