.playbar_container{
    position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px; 
  background-color: rgba(0, 0, 0, 0.3); 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  border-radius: 10px;  
}